@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}


<script>
    var ExampleApplication = React.createClass({
        render: function () {
            var elapsed = Math.round(this.props.elapsed / 100);
            var seconds = elapsed / 10 + (elapsed % 10 ? '' : '.0');
            var message =
              'React has been successfully running for ' + seconds + ' seconds.';

            return React.DOM.p(null, message);
        }
    });

    // Call React.createFactory instead of directly call ExampleApplication({...}) in React.render
    var ExampleApplicationFactory = React.createFactory(ExampleApplication);

    var start = new Date().getTime();
    setInterval(function () {
        ReactDOM.render(
          ExampleApplicationFactory({ elapsed: new Date().getTime() - start }),
          document.getElementById('container')
        );
    }, 50);




</script>

<script type="text/babel">
    var Counter = React.createClass({
        getInitialState: function () {
            return { count: 0 };
        },
        handleClick: function () {
            this.setState({
                count: this.state.count + 1,
            });
        },
        render: function () {
            return (
            //<button onclick={this.handleClick}>
            //    Click me! Number of clicks: {this.state.count}
            //</button>
                "AAAA"
            );
        }
    });

    ReactDOM.render(
    Counter,
    document.getElementById('test02')
    );
</script>

<h2>Index</h2>


<div id="container"></div>


<hr />


<div id="test02"></div>