<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- LOCALHOST -->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;database=Test;Integrated Security=true;Connection Timeout=900;" />
  </connectionStrings>
</configuration>