<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- LOCALHOST    -->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;database=EarlyWarningsV2;Integrated Security=true;Connection Timeout=900;" />

  </connectionStrings>

  <appSettings>
    <add key="application.name" value="Early Warning" />
    <add key="application.url" value="http://newearlywarning.rete.poste/"  />

    
    <add key="mail.isEnabled" value="true" />
    <add key="mail.server" value="relay.poste.it" />
    <add key="mail.server.port" value="25" />
    <add key="mail.credentials.encrypted" value="false" />

    <add key="mail.server.userName" value="EWfeed@poste.it" />
    <add key="mail.server.password" value="chacRu2h" />
    <add key="mail.server.enableTls" value="false" />
    <add key="mail.server.enableSsl" value="false" />
    <add key="mail.To.Ccn" value="" />
    <add key="mail.From" value="EWfeed@poste.it" />
    <add key="mail.From.displayName" value="Early Warning" />
    <add key="mail.webmaster" value="" />
    <add key="mail.support" value="roberto.rutigliano@techub.it;CINQUE17@posteitaliane.it;" />
  </appSettings>
  
  
</configuration>