
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPageBootstrap.cshtml";
}

 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Bootstrap example</h1>
    <p>Prova prova</p>
</div>