
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPageBootstrap.cshtml";
}

<h2>Index</h2>


<div class="list-group">
    <a href="@Url.Action("Details")" class="list-group-item">Details</a>
</div>